body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1e1e1e, #2c2c2c);
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.container {
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  width: 350px;
  background: #2a2a2a;
  padding: 25px;
  border-radius: 12px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-area {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background: #4CAF50;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
  transition: 0.2s;
  background: #45a049;
}

li {
  transition: all 0.2s ease;
  background: #3a3a3a;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:hover {
  background-color: #4a4a4a;
}

li button {
  background: red;
  padding: 5px 10px;
}

li button:hover {
  background: darkred;
}

.filtros button.ativo {
    background-color: #4CAF50;
    color: white;
}

.filtros button {
    cursor: pointer;
    border: none;
    padding: 8px 12px;
    }

#contador {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
}

#contador span {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

/* cores */
#total {
  background-color: #3b82f6; /* azul */
  color: white;
}

#pendentes {
  background-color: #facc15; /* amarelo */
  color: black;
}

#concluidas {
  background-color: #22c55e; /* verde */
  color: white;
}    